.container-fluid {
    padding: 0;
    /* background: #eaf0f5; */
}

body {
    font-size: 0.7rem;
    font-family: sans-serif;
}

.viz-head {
    margin-bottom: 5px;
    padding-bottom: 10px;
    /* border-bottom: 4px solid #f0473a; */
    background: rgb(255, 255, 255, 38%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 19%);
}

.viz-head header {
    padding-bottom: 5px;
}

header p {
    margin-bottom: 0;
    color: #6e6e6e;
}

.viz-head span label {
    font-size: .8rem;
    font-weight: 400;
    color: #000;
}

.main {
    display: flex;
    height: 100vh;
    padding-bottom: 10px;
}

.hidden {
    display: none;
}

h4 {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
}

h5 {
    font-size: .9rem;
    line-height: .9rem;
    font-weight: 500;
    color: #000;
    text-transform: uppercase;
}

h6 {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
}

li h6 {
    font-size: .7rem;
    line-height: .7rem;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
}

.panels {
    flex-shrink: 0;
    width: 540px;
    display: flex;
    justify-content: space-around;
}

.panel-padding {
    padding: 8px;
}


/* Left and Right panels */

.panels .panel,
.extreme-right-panel {
    width: 260px;
}

.left-panel {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background: rgb(255, 255, 255, 38%);
    box-shadow: 0 2px 12px rgb(0 0 0 / 19%);
}

.right-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.panelContentCentered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(255, 255, 255, 38%);
    box-shadow: 0 2px 12px rgb(0 0 0 / 19%);
    max-height: calc(100vh - 200px);
}

.mainContent,
.item-list,
.contentparent {
    height: auto;
    overflow-y: auto;
}

.panel-header {
    /* background: #F0BDC9; */
}

.panel-header .head {
    padding: 8px;
    padding-left: 12px;
}

.panel-header .head h6 {
    margin: 0;
}

.listing-pane {
    /* background: #F2F2EF; */
}


/* Central area */

.central-area {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.top {
    height: 120px;
    /* background: rgb(255, 255, 255, 38%);
    box-shadow: 0 2px 12px rgb(0 0 0 / 19%); */
}

.dropdown select {
    width: 90%;
    height: 30px;
    outline: none;
    margin-bottom: 8px;
}

ul {
    margin: 0;
    padding: 8px;
    list-style-type: none;
}

.item-list {
    height: auto;
    overflow-y: auto;
    max-height: 50vh;
}


/* .content .head h6 {
    padding: 8px 12px;
} */

.content ul li,
.childrenContent ul li {
    margin-bottom: 12px;
    flex-direction: column;
    padding: 6px;
    border-radius: 6px;
    /* background-color: rgb(255, 255, 255, 50%); */
    background-color: #fff;
    box-shadow: 0 2px 7px rgb(0 0 0 / 8%);
    user-select: none;
    cursor: pointer;
    position: relative;
    overflow-x: auto;
}

.item-selections,
.children-selections {
    display: flex;
    justify-content: space-between;
    margin: 0 5px;
}

.item-selections button,
.children-selections button {
    background: 0 0;
    outline: 0;
    border: none;
    cursor: pointer;
    /* text-transform: uppercase; */
    /* color: #838383; */
    /* color: #1b365e; */
    color: #1c99f2;
    /* font-size: 11px; */
    font-weight: 400;
    padding: 10px;
}

.tagLook {
    background: #78B794;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    padding: 4px;
    display: inline-block;
    box-shadow: 0 1px 3px rgb(0 0 0 / 5%);
    cursor: pointer;
    text-transform: uppercase;
    /* color: #838383; */
    color: #fff;
    font-size: 0.6rem;
    font-weight: 300;
}

.collection-item>.is-selected,
.children>.is-selected {
    background: #eaf0f5;
    box-shadow: 0 0 0 2px #1c99f2, 0 0 0 5px #b8daf5, 0 2px 8px rgb(0 0 0 / 40%), inset 0 0 6px rgb(0 0 0 / 30%);
}

.is-selected {
    background: #f0473a;
    box-shadow: #f0473a;
}

.main-filters {
    /* padding-left: 8px; */
}

.submit {
    margin-top: auto;
    display: flex;
    justify-content: center;
}

.kobo-form {
    display: flex;
    align-items: center;
    height: 50px;
    border: none;
    border-radius: 8px;
    font-size: 1.3rem;
    font-weight: 700;
    margin: 12px;
    cursor: pointer;
    color: #f0473a;
}

.fa-plus {
    /* font-size: 2rem; */
    /* color: greenyellow; */
    padding-right: 5px;
}

.details {
    display: flex;
    /* border-bottom: 4px solid #f0473a; */
    /* background: #F2F2EF; */
    /* background: rgb(255, 255, 255, 38%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 19%); */
}

.overview {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.logos {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 5px;
    height: 45px;
}

.logos img {
    /* border-radius: 50%; */
    margin-right: 5px;
    vertical-align: middle;
    width: 35px;
    height: 35px;
}

.logos h5 {
    justify-self: center;
    align-self: center;
    font-size: 1.1rem;
    font-weight: 400;
    color: #000;
    margin: 0;
}

.reset-map-btn {
    margin-left: auto;
    /* 
    padding-right: 10px; */
    margin-right: 20px;
    justify-self: flex-end;
    align-self: flex-end;
}

.reset-map-btn button {
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 400;
    background: 0 0;
    outline: 0;
    border: none;
    cursor: pointer;
    color: #f0473a;
    font-weight: 400;
    padding: 20px;
}

.keyFigures {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.metrics h6 {
    padding-bottom: 5px;
}

.keyFigures {
    display: flex;
}

.keyFigures .figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    /* min-width: 100px; */
}

.keyFigures .figure .number {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
}

.keyFigures .figure .desc {
    font-size: 1.3rem;
    line-height: 1.2rem;
    font-weight: 200;
    color: #838383;
}

.map {
    padding-left: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 8px;
    /* justify-content: center;
    align-items: center; */
}

.zoom-controls {
    position: absolute;
    /* right: 290px;
    top: 100px; */
    right: 300px;
    display: grid;
    grid-gap: 5px;
}

.zoom-controls button {
    width: 30px;
    height: 30px;
    font-size: 1.1rem;
    display: grid;
    border-radius: 50% !important;
    /* background: #FFF6F4; */
    color: #fff;
    border: none;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
}

.zoom-controls button:hover {
    background: rgba(200, 200, 200, 0.8);
    /* background: #f0473a; */
}

.zoom-controls button:active {
    background: rgba(200, 200, 200, 0.8);
}

.zoom-controls button:focus {
    outline: 0;
}

#map .hasData,
#map .country-label {
    cursor: pointer;
}

svg g path path.inactive {
    /* cursor: default; */
    pointer-events: none;
}


/* Extrem right panel */

.extreme-right-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.orgActDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(255, 255, 255, 38%);
    box-shadow: 0 2px 12px rgb(0 0 0 / 19%);
}

.projectDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: calc(100vh - 200px);
}

.reports {
    height: auto;
    overflow-y: auto;
    padding: 8px;
}

.project-report {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #6e6e6e;
    border-bottom: 1px solid #6e6e6e;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.partner-logo {
    display: flex;
}

.partner-logo img {
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
    width: 35px;
}

.partner-logo h5 {
    justify-self: center;
    align-self: center;
    color: #000;
    margin: 0;
}

.projectDescription p {
    /* text-align: justify; */
    margin: 0;
}

.contact-details {
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 5px;
}

.contact-details span {
    /* font-weight: 600; */
    text-transform: uppercase;
    align-self: center;
}

.contact-details .name,
.contact-details .email {
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
}

.contact-details .role {
    /* color: #f0473a; */
}


/* Responsiveness */

@media only screen and (max-width: 767px) {
    .main {
        flex-direction: column;
    }
    .panels {
        flex-direction: column;
        width: 100%;
    }
    .panels .panel {
        width: 100%;
        margin-bottom: 5px;
    }
    .top,
    .middle {
        margin-bottom: 5px;
    }
}